body { 
	font-family: Roboto, sans-serif;
	background: url('../images/dark-clouds-daylight-grass-552501.jpg') no-repeat center center fixed;
  	background-size: cover;
  	height: 100%;

}

.jumbotron {background-color: none !important; color:white;}

button {
    border-radius: 4px;
    padding: 4px 8px;
    margin: 4px;
    cursor: pointer;
}

img { 
  height: 150px;
  width: 200px;
   }

 .table th { border-top: none!important; }

.card-header { background-color: rgba(0,0,0,.1) !important; }

h1 { color:#333; }
h5 { font-size: 14px; }

.rating { 
	background-color: #474747;
    color: white; 
}

/* Media Queries */

@media (max-width: 768px) {
	.animal-add { float: left !important; }
	#buttons-view { padding: 0 10px; }
	h1 { padding-left: 15px; }
	.animalsDiv { margin: 10px 25px; }

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
